.listWidget {
    z-index:100;
    margin: 0.5rem;
    padding: 5px;
    background-color: var(--primary-white, #ffffff);
    border-radius: 5px;
    min-width: 150px;
    opacity: 0.9;
    height: calc(100% - 30px);
    overflow-y: auto;
    width: 170px;
}

.listWidget ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.85em;
}

.listWidget ul li{
    cursor: pointer;
}

.selector {
    margin-bottom: 5px;
    border-bottom: 1px solid;
    border-bottom-color: var(--light-grey, #6c757d);
    text-align: center;
}

.selector span{
    margin-right: 5px;
    color:var(--light-grey, #6c757d);
    cursor: pointer;
    font-size: 0.7em;
}

.selected{
    font-weight: bold;
}

.small {
    font-size: 0.6em;
    color: var(--light-grey, #6c757d);
}

.bottom-right{
    position: absolute;
    bottom: 0;
    right: 0;
}
.bottom-left{
    position: absolute;
    bottom: 0;
    left: 0;
}
.top-right{
    position: absolute;
    top: 0;
    right: 0;
}
.top-left{
    position: absolute;
    top: 0;
    left: 0;
}
.relative{
    position: relative;
}