.legendWidget{
    z-index:100;
    margin: 0.5rem;
    padding: 5px;
    background-color: var(--primary-white, #ffffff);
    border-radius: 5px;
    min-width: 150px;
    opacity: 0.95;
    clear:left;
    font-size: 0.8em;
}

.icon {
    cursor: pointer;
    text-align: right;
}

.hidden {
    min-width: 24px;
}

.legendBlock {
    border: 1px solid;
    border-color: var(--dark-grey, #555555);
    display: block;
    float: left;
    height: 12px;
    margin: 0 5px 0 0px;
    width: 20px;
}

.bottom-right{
    position: absolute;
    bottom: 0;
    right: 0;
}
.bottom-left{
    position: absolute;
    bottom: 0;
    left: 0;
}
.top-right{
    position: absolute;
    top: 0;
    right: 0;
}
.top-left{
    position: absolute;
    top: 0;
    left: 0;
}
.relative{
    position: relative;
}